<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>The Optimistic Autistic</name>

<description>
This app was designed to help encourage everyone raising or caring for a special needs child. </description>

<author href="https://example.com" email="leahreynolds.lr@gmail.com">
Leah Reynolds
</author>

</widget>
